<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello, Caesar</title>


    <!--bootstrap core css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="" id='lablogo'>DfT Lab</a>
      <div class="container">
        <a class="navbar-brand" href="">Hail, Caesar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href={{url_for('index')}}>Welcome</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href={{url_for('encrypt')}}>Encrypt</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href={{url_for('decrypt')}}>Decrypt</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">



      <!-- Portfolio Item Row -->
      <div class="row">
      	<br>

        <div class="col-md-8" background-color='#428bca' style="padding-left:55px; padding-top:20px">
        	           <div class="form-group">
                            <label for="message">Message</label>
                            <input type="text" class="form-control" id="message">
                         </div>
                         <div class="form-group">
                            <label for="key">Key</label>
                            <input type="text" class="form-control" id="key">
                        </div>

                          <input type="submit" class="btn btn-primary" value="Submit">
                          <br>
                            <div class="form-group">
                            <label for="encryptedmessage">Encrypted Message</label>
                            <input type="text" class="form-control" id="encryptedmessage" value="{{encrypted_message}}">
                            </div>

    </form>
        </div>

        <div class="col-md-4">

       </div>
      </div>
     </div>

  </body>

</html>